<html xmlns:th="http://www.thymeleaf.org">
<div class="sidebar-content" th:fragment="side">
    <div class="layui-card">
        <div class="layui-card-header">
            <img th:src="@{/res/static/img/portrait.jpg}" alt=""><br />
            <span>小明</span>
        </div>
        <div class="layui-card-body">
            <ul>
                <li class="txt">
                    <span>1000</span><br />
                    <span>文章</span>
                </li>
                <li class="item">
                    <span>50</span><br />
                    <span>项目</span>
                </li>
                <li class="visitors">
                    <span>5008</span><br />
                    <span>访问人数</span>
                </li>
            </ul>
        </div>
    </div>
    <ul class="layui-nav">
        <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
        <li class="layui-nav-item"><a href="article">文章<br/>ARTICLE</a></li>
        <li class="layui-nav-item"><a href="mood">微语<br/>MOOD</a></li>
        <li class="layui-nav-item"><a href="works">作品<br/>WORKS</a></li>
        <li class="layui-nav-item"><a href="message">留言<br/>MESSAGE</a></li>
        <li class="layui-nav-item"><a href="about">关于<br/>ABOUT</a></li>
    </ul>
</div>
</html>
