<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<!-- 侧边内容 -->
<div th:replace="fragments/side :: side"></div>



  <!-- 主要内容 -->
  <div class="main about">
      <div class="item">
        <h4 class="personal">个人简介</h4>
        <img class="portrait" th:src="@{/res/static/img/portrait.jpg}" alt="">
        <p class="Introduction">小明<br />90后, 天蝎座, 爱生活, 爱艺术, 爱书画, 爱音乐, 爱设计, 爱编辑<br />勤奋是学习的枝叶,当然很苦,智慧是学习的花朵,当然香郁</p>
        <h4 class="personal">我的技能</h4>
        <div class="layui-progress layui-progress-big" lay-showpercent="true">
          <em>HTML</em>
          <div class="layui-progress-bar layui-bg-red" lay-percent="80%"></div>
        </div>
        <div class="layui-progress layui-progress-big" lay-showpercent="true">
          <em>C++</em>
          <div class="layui-progress-bar layui-bg-orange" lay-percent="60%"></div>
        </div>
        <div class="layui-progress layui-progress-big" lay-showpercent="true">
          <em>JAVA</em>
          <div class="layui-progress-bar layui-bg-blue" lay-percent="80%"></div>
        </div>
        <div class="layui-progress layui-progress-big" lay-showpercent="true">
          <em>PHP</em>
          <div class="layui-progress-bar" lay-percent="50%"></div>
        </div>
        <h4 class="contact">与我联系</h4>
        <img class="code" th:src="@{/res/static/img/code.jpg}" alt="">
        <p class="qq-number">扫码加微信<br />QQ: 123456789</p>
      </div>
  </div>


<!-- 搜索框 -->
<div th:replace="fragments/seach :: seach"></div>
</body>
</html>