<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head">
</head>
<body>
<!-- 侧边内容 -->
<div th:replace="/fragments/side :: side"></div>


  <!-- 主要内容 -->
  <div class="main works">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
      <ul class="layui-tab-title">
        <li class="layui-this">前端</li>
        <li>后台</li>
        <li>设计</li>
      </ul>
      <div class="layui-tab-content"></div>
    </div>
    <div class="item">
      <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
              <div class="img-text">
                <a href="javascript:;">
                  <img src="/res/static/img/img1.jpg" alt="">
                  <p>后台管理网站项目</p>
                </a>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
              <div class="img-text">
                <a href="javascript:;">
                  <img src="/res/static/img/img2.jpg" alt="">
                  <p>后台管理网站项目</p>
                </a>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
              <div class="img-text">
                <a href="javascript:;">
                  <img src="/res/static/img/img3.jpg" alt="">
                  <p>后台管理网站项目</p>
                </a>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
              <div class="img-text">
                <a href="javascript:;">
                  <img src="/res/static/img/img4.jpg" alt="">
                  <p>后台管理网站项目</p>
                </a>
              </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
              <div class="img-text">
                <a href="javascript:;">
                  <img src="/res/static/img/img1.jpg" alt="">
                  <p>后台管理网站项目</p>
                </a>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
              <div class="img-text">
                <a href="javascript:;">
                  <img src="/res/static/img/img2.jpg" alt="">
                  <p>后台管理网站项目</p>
                </a>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
              <div class="img-text">
                <a href="javascript:;">
                  <img src="/res/static/img/img3.jpg" alt="">
                  <p>后台管理网站项目</p>
                </a>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
              <div class="img-text">
                <a href="javascript:;">
                  <img src="/res/static/img/img4.jpg" alt="">
                  <p>后台管理网站项目</p>
                </a>
              </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
              <div class="img-text">
                <a href="javascript:;">
                  <img src="/res/static/img/img1.jpg" alt="">
                  <p>后台管理网站项目</p>
                </a>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
              <div class="img-text">
                <a href="javascript:;">
                  <img src="/res/static/img/img2.jpg" alt="">
                  <p>后台管理网站项目</p>
                </a>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
              <div class="img-text">
                <a href="javascript:;">
                  <img src="/res/static/img/img3.jpg" alt="">
                  <p>后台管理网站项目</p>
                </a>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
              <div class="img-text">
                <a href="javascript:;">
                  <img src="/res/static/img/img4.jpg" alt="">
                  <p>后台管理网站项目</p>
                </a>
              </div>
            </div>
        </div>
      </div>   
      <div id="demo1"></div>
    </div>
    
  </div>



<!-- 搜索框 -->
<div th:replace="/fragments/seach :: seach"></div>
</body>
</html>